# dependencies
node_modules/

# production build
dist/
build/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files — el .env real NUNCA se commitea
.env
.env.*
!.env.example

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# cache
.cache/
.eslintcache

# Testing
coverage/
playwright-report/
test-results/
